/*RESET*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #888;
    text-align: center;
    font-family: cursive;
    font-size: 15pt;
    color: aqua;
    
}

header{
    margin: 60px 0 50px;
}

#mensagem{
    color: rgb(53, 51, 54);
    margin: 10px 0;
    padding: 0 10px 15px 0;
    border-bottom: 3px solid rgb(80, 79, 79);
}

main{
    background-color: antiquewhite;
    margin: 0 auto;
    width: 300px;
    border-radius: 15px;
    padding: 20px;
}